/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */
:root {
  --bg-color--dark: #0b192f;
  --bg-color--header: #024161;
  --link: #fff;
  --link--hover: #1f52a4;
  --bg-footer-color: #024161;
}

body {
  font-family: roboto;
}
.post-1 {
	background: #9d27b0;
}
.post-2 {
	background: #9bb800;
}
.post-3 {
	background: #ed5120;
}
.post-4 {
	background: #9d27b0;
}
.post-5 {
	background: #2d95bb;
}

/* Your styles go here */

body {
  margin: 0;
	padding: 0;
	background: var(--bg-color--dark);
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

.header {
	margin-bottom: 20px;
}

.header a {
  color: inherit;
  text-decoration: none;
}

.header .container {
	padding: 0 30px;
	box-sizing: border-box;
	background: var(--bg-color--header);
}

.container {
	max-width: 1400px;
	margin: 0 auto;
	
	color: var(--link);
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 20px 0;
}

.logo {
  flex-grow: 0.5;
  margin: 10px 15px 10px auto;
}

.menu {
  flex-grow: 0.5;
  text-align: right;
  /* margin: 10px 0; */
}

.logo__title {
  display: inline-block;
  font-size: 1.8rem;
  line-height: 1.5rem;
  vertical-align: bottom;
}

.logo__image {
  vertical-align: bottom;
}

.menuItem {
	/* margin: 0 15px; */
	padding: 35px 25px 30px 25px;
}
.menuItem:hover {
	background-color: var(--link--hover);
}


.titles {
  text-align: center;
  padding: 20px 0;
}





/*MAIN*/

/* .main {
  margin: 0 auto;
  width: 1400px;
} */

.post {
	overflow:hidden;
}
.post img {
	width: 100%;
	height: auto;
	overflow:hidden;
}


/* .main .main-banner {
  background: url(../img/post0.jpg) no-repeat;
  background-position-x: center;
} */


/* .main .main-banner .banner-wrap {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
} */
/* 
.main .main-banner .banner-wrap h1 {
  font-size: 62px;
  color: #fff;
}

.main .main-banner .banner-wrap p {
  color: #bfba55;
  padding: 20px 0;
  letter-spacing: 3px;
}

.main .main-banner .banner-wrap a {
  display: inline-block;
  background-color: #fff;
  margin-top: 20px;
  padding: 15px 25px;
  border-radius: 50px;
  font-weight: bold;
  text-decoration: none;
  color: #777;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.main .main-banner .banner-wrap a:hover {
  background-color: #bfba55;
  color: #fff;
}

.main .main-wrap {
  max-width: 900px;
  margin: 0 auto;
} */