$firstColor: #fff;  
$secondColor: #21232e;
$whiteColor: #c0c3ce;
$section_card: #3b3f50;
$bodyColor: #21232e;
$marker: #ff4e33;
$btnColor: #e3ac00;
$bannerHeading: #fff;
$bannerColor1: #e1a902;
$bannerColor2: #912a53; 
$secondFont: 'Fresca', sans-serif;
$bgImage: url(../img/m-h-night.jpg) no-repeat;