$firstColor: #21232e;  
$secondColor: #fff;
$whiteColor: #c0c3ce;
$section_card: #21232e;
$bodyColor: #fff;
$marker: #14a0c7;
$btnColor: #699900;
$buttonColorHover: ;
$bannerHeading: #2c2f3c;
$bannerColor1: #65940f;
$bannerColor2: #2f5dd0;
$secondFont: 'Hind', sans-serif;
$bgImage: url(../img/m-h-day.jpg) no-repeat;