@media print {

	.container {
    max-width: 95%;
}

	.tm-main-content {
		padding-top: 0;
	}

	.tm-content-box {
		margin-bottom: 10px;
	}

	.padding-medium, .tm-banner, .carousel {
    padding: 0;
	}

	h1, h2, h3, h4, h5, h6, p {
		text-align: center;
	}

	h1, h2, h3, h4, h5, h6 {
		color: lightskyblue;
		text-transform: uppercase;
	}

	.tm-team-description-container {
		min-width: 100%;
		max-width: 100%;
	}

  .tm-sidebar, .flex-item.tm-team-img, #about, .boxes.gallery-container, .img-contact-us, #contact, .carousel-indicators {
    display: none;
	}
	
	.heading {
		display: flex;
		justify-content: center;
	}

	.heading ol {
		width: 300px;
		list-style: none;
		padding: 0;
		display: flex;
		flex-direction: column;
	}

	.heading ol li:nth-child(odd) {
		align-self: flex-end;	
	}


}

@media screen {


h1, h2, h3, h4, h5, h6 {
	text-align: center;
}


.tm-main-nav li:hover {
	background-color: lightskyblue;
}
.tm-main-nav li a:hover {
	color: #fff;
}


.tm-banner {
	background: linear-gradient(45deg, lightskyblue, burlywood);
}

.tm-banner-inner {
	background-color: #fff;
}

.tm-banner-inner p {
	text-shadow: 4px 5px 3px #333;
}

.tm-banner-inner p {
	animation: slide-left 5s; 
}

@keyframes slide-left{
	0%{
			-webkit-transform: translate(200px, 0px);
	}
	100%{
			-webkit-transform: translate(0px, 0px);
	}
}


.tm-content-box.flex-2-col {
	display: flex;
}

.tm-team-description-container {
	display: flex;
	flex-wrap: wrap;
	align-self: center;
	
}

.tm-team-description-container p {
	text-indent: 20px;
}

.tm-team-img img {
	width: 100%;
}

.tm-team-img {
	display: flex;
	flex-wrap: wrap;

}

.tm-section-title {
	text-align: center;
}

#about .box-bg:hover {
	background-color: lightgrey;

}

.heading.tm-content-box ol {
	list-style-type: lower-alpha;
}

.heading.tm-content-box ol a.text::after {
	content: "New";
	color: red;
	vertical-align: super;
	font-weight: bold;
	font-variant: small-caps;
	font-size: x-small;	
}

.heading.tm-content-box ol a:hover::before {
	content: ">";
}

.blocks .boxes.gallery-container li {
	padding: 10px;	
	font-style: italic;
}

.blocks .boxes.gallery-container li h2 {
	text-align: left;
	font-style: normal;
}

.blocks .boxes.gallery-container li p:first-letter {
	font-weight: 400;
}


.blocks .boxes.gallery-container li:nth-child(odd) {
	background-color: lightskyblue;
	color: #fff;
}

.tm-section-description {
    text-indent: 25px;
    line-height: 30px;
  }



  #contact h2 {
    text-align: left;
  }

  #contact_name,
  #contact_email,
  #contact_subject {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: lightskyblue;
  }

  #contact_name:focus,
  #contact_email:focus,
  #contact_subject:focus {
    background-color: lightskyblue;
  }

  .submit-btn {
    border-color: lightskyblue;
    background-color: #fff;
    color: lightskyblue;

    float: right;
    height: 50px;
    width: 100px;
    font-size: 14px;
  }

  .tm-main-nav, section, #home {
    box-shadow: 0px 0px 9px rgba(61, 55, 61, 0.7);
  }

  section::before {
    content: "";
	border-right: 50px solid transparent;
    border-top: 50px solid lightskyblue;
  }



  div.form-group:nth-child(4) {
	position: relative;
}

div.form-group:nth-child(4)::after {
	content: "";
	display: block;
	background-image: url(../img/email-icon.png);
	background-size: cover;
	height: 30px;
	width: 30px;
	position: absolute;
	right: 10px;
	bottom: 10px;
}

















}

.blocks .tm-team-description-container p:last-child {
		
	font-style: italic;
	letter-spacing:5px;
	word-spacing: 10px;
}


